<html lang="en">

<head>
    <title>404</title>
    <link rel="shortcut icon" href="/images/error.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content error">
        {{>header}}
    </div>
    {{>footer}}
</body>

</html>