<html lang="en">

<head>
  <title>About</title>
  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Baibhav Panda.</p>
    <p>It uses data from <em>mapbox.com</em> and <em>openweathermap.org</em></p>

  </div>
  {{>footer}}
</body>

</html>